footer {
    background: #000;
    color: #777777;
    h1, h2 {
        text-transform: uppercase;
        color: #fff;
    }

    margin: 1rem 0;
    padding: 8rem 3rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    section {
        &:first-child {
            width: 20rem;
             h1 {
                 font-size: 2rem;
                 margin-bottom: 2rem;
             }
        }

        &:last-child {
            display: flex;
            flex-direction: column;
            width: 20rem;
            h2, address, p {
                padding-bottom: 1rem;
                text-transform: uppercase;
            }
            
            svg {
                padding-right: 1rem;
            }
        }
    }
}