@import './variables.scss';

.calendar {
    margin: 2rem;

    &__header {
        margin: 2rem 0;
        padding: 1rem;
        background: $grey-color;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__content {
        ul {
            display: flex;
            justify-content: space-evenly;
            width: 36rem;
            min-width: 36rem;

            flex-wrap: wrap;
            li {
                width: 3rem;
                height: 1rem;
                padding: 1rem;
                cursor: pointer;

                &.current {
                    background: $black;
                    color: $white;
                }
            }

            &:last-child {
                li {
                    border: 1px solid $grey-color;
                }
            }
        }
    }
}