section.carousel {
	ul:nth-child(1) {
		li {
			img {
				animation: blur 2s;
			}
		}
	}
	ul:nth-child(2) {
		li {
			&:hover {
				background: transparent;
				background: radial-gradient(circle at center, #fff 0, transparent 50%);
			}
			&.carousel-active {
				background: radial-gradient(
					circle at center,
					transparent 50%,
					white 70%,
					white 100%
				);
			}
		}
	}
}

@keyframes blur {
	0% {
		-webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		-o-filter: blur(10px);
		-ms-filter: blur(10px);
	}
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
	}
}
