.body{
    margin:0;
    padding:0;
}
p, h1 {
    text-align: center;
    margin-bottom: 2em !important;
}
h1{
    font-size: 3em !important;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
#testimonals{
    width: 16em;
    display: block;
    margin: 0 auto;
    color: #c19b76;
    background-color: white;
}