$S:544px;
$M:768px;
$L:992px;
@mixin MQ($canvas){
  @if $canvas==S{
      @media only screen and (max-width:$S){
          @content;
      }
  }
  @else if $canvas==M{
      @media only screen and (min-width:$S+1) and (max-width:$M){
          @content;
      }
  }
  @else if $canvas==L{
      @media only screen  and (min-width:$M+1) and (max-width:$L){
          @content;
      }
  }
  @else if $canvas==XL{
    @media only screen  and (min-width:$L+1) {
        @content;
    }
}
}


.TestiMonials_container {
  padding:2rem;
  @include MQ(S){
    max-width:100%;
  }
  @include MQ(M){
    max-width:33.33%;
  }
  @include MQ(L){
    max-width:33.33%;
  }
  @include MQ(XL){
    max-width:33.33%;
  }
  ul {
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  img{
    display:block;
    width:96px;
    height:96px;
    border-radius:50%;
    margin-bottom:1rem;
  }
  p {
    color: rgb(190, 190, 190);
    font-size:1.4rem;
    margin-bottom:2rem;
  }
  h2{
    color:black;
    font-size:1.4rem;
  }
}
